@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
}


header{
    background-color: rgba(0, 0, 0, 0.850);
    color: white;
    text-align: center;
    padding: 15px;
}

header a{
    text-decoration: none;
    color: white;
    margin: 15px;
}

header a:hover{
    text-decoration: underline;
}

main{
    background-color: black;
    padding: 30px;
    color: white;
}

section, h1{
    max-width: 720px;
    margin: auto;
}

h1{
    display: flex;
    padding: 25px 0 15px 30px;
    
}

section h2{
    padding: 0 0 30px 30px;
    border-left: 5px solid #1aa9d9;
}

section p{
    display: flex;
    text-align: justify;
    padding-left: 30px;
    color: lightgray;
}

section.sobre{
    padding: 50px 0;
}

section.cursos{
    padding-bottom: 50px;
}

section.planos{
    padding-bottom: 50px;
}

section.contato{
    padding-bottom: 380px;   
}

.saibamais{
    text-decoration: none;
    color: #1aa9d9;
    display: flex;
    padding: 20px 0 5px 30px;
    font-weight: normal;
}

.saibamais:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}


